﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/angular.min.js"></script>
    
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/Site.css")
</head>
<body>
    <div class="nav navbar"><img src="~/Content/logo.png"></div>

        @RenderBody()
 @Scripts.Render("~/bundles/Angular")

</body>
</html>
