﻿<div ng-app="app" ng-controller="contactsController" class="container">
    <div class="row">
        <!--Contact list-->
        <div class="col-xs-4 phonebook">
            <div class="sidebar-nav">
                <button class="btn btn-default btn-sm pull-right" ng-click="createNew()">
                    <span class="glyphicon glyphicon-plus"></span> Add Contact
                </button>
                <input class="form-control " type="text" ng-model="nameQuery" placeholder="Search by Name" ng-change="searchByName()">
                <button class="btn btn-default btn-xs" ng-click="toggleSearchByTag()">
                    <span class="glyphicon glyphicon-search"></span>
                    <span ng-show="showTags == 0">Show Tags</span>
                    <span ng-show="showTags == 1">Hide Tags</span>
                </button>
                <br />
                <label ng-repeat="allTag in allTags" ng-show="showTags == 1">
                    <input type="checkbox" checklist-model="queryTags" checklist-value="allTag.Id" ng-click="searchByTag(allTag.Id)">   {{allTag.Name}}
                </label>
                <ul class="list-group">
                    <li ng-repeat="contact in model" ng-click="editContact(contact.Id)" class="list-group-item">
                        <div>
                            <button class="pull-right btn btn-danger btn-xs" ng-click="removeContact(contact)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                            <a>
                                {{contact.FirstName}} {{contact.LastName}}

                                <div ng-repeat="number in contact.PhoneNumbers" class="conNumber">
                                    <span>{{number.Number}}</span>
                                    <br />
                                </div>

                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!--Editting form-->
        <div class="col-xs-8 editForm">
            <form class="form-group-sm">
                <input class="form-control" type="text" ng-model="contactEdit.FirstName" placeholder="First Name">
                <input class="form-control" type="text" ng-model="contactEdit.LastName" placeholder="Last Name">
                <input class="form-control" type="text" ng-model="contactEdit.HomeAdress" placeholder="Home Address">
                <hr class="myhr" />
                <div class="form-inline" ng-repeat="phone in contactEdit.PhoneNumbers">
                    <input class="form-control" type="text" ng-model="phone.Number" placeholder="Phone Number">
                    <button class="btn btn-danger  btn-xs" ng-click="removeNumber(phone)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>

                <button class="btn btn-default btn-xs" ng-click="addNumber(contactEdit)">
                    <span class="glyphicon glyphicon-plus"></span>Add Number
                </button>

                <hr class="myhr" />
                <div class="form-inline" ng-repeat="email in contactEdit.Emails">
                    <input class="form-control" type="text" ng-model="email.EmailAdress" placeholder="Email Address">
                    <button class="btn btn-danger btn-xs" ng-click="removeEmail(email)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button class="btn btn-default btn-xs" ng-click="addEmail(contactEdit)">
                    <span class="glyphicon glyphicon-plus"></span>Add Email
                </button>
                <hr class="myhr" />
                <div class="form-inline">
                    <select class="form-control" name="selectedTag" ng-model="tag" ng-options="tag.Name for tag in contactEdit.Tags">
                        <option value="">Tags</option>
                    </select>
                    <button class="btn btn-danger btn-xs" ng-click="removeTag(tag)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <div class="form-inline">
                    <select class="form-control" name="selectedTag" ng-model="tagAll" ng-options="tagAll.Name for tagAll in allTags">
                        <option value="">Tags</option>
                    </select>
                    <button class="btn btn-default btn-xs" ng-click="addTagFromAll(tagAll)">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button class="btn btn-danger btn-xs" ng-click="removeTagFromAll(tagAll)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
                <div class="form-inline">
                    <input class="form-control" type="text" ng-model="newTagName" placeholder="New Tag Name">
                    <button class="btn btn-default btn-xs" ng-click="addTag(newTagName)">
                        <span class="glyphicon glyphicon-plus"></span>Add Tag
                    </button>
                </div>
                <hr class="myhr" />
                <input class="btn btn-success btn-lg" type="submit" value="Save" ng-click="saveContact(contactEdit.Id)">
            </form>
        </div>
    </div>
</div>

