﻿html, body {
    height: 100%;
    overflow: hidden;
    font-style:normal;
}

.container {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.row {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.list-group-item {
    padding: 0;
    margin: 0;
    background: #E44424;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.list-group-item div a {
    color: #ffffff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
}
.conNumber{
    margin-left:10px;
    font-style:normal;
    font-size:small;
}
.list-group-item div:hover {
    background: #e45424;
}

.list-group-item div {
    min-height:25px;
}

.sidebar-nav input {
    max-width: 200px;
}

.form-group-sm input {
    max-width: 200px;
}

.phonebook {
    background:#E44424;
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    left: 0;
    overflow: hidden;
}
.phonebook .btn-default{
    margin:5px;
}

.editForm {
    padding-top: 10px;
    height: 100%;
    background: #24c4e4;
}

.editForm button {
    margin-left: 5px;
}
.editForm form{
        overflow-y:auto;
        max-height:90vh;
}

.sidebar-nav {
  overflow: -moz-scrollbars-none;
}

.sidebar-nav a, span, input, label {
    margin-left: 5px;
}

.list-group {
    padding: 0;
    margin: 0;
    max-height: 80vh;
    overflow-y: auto;    
}
.list-group::-webkit-scrollbar {
     width: 0 !important 
}
.navbar{
    background:#F1F1F1;
    margin:0;
    padding:0;
    border-radius: 0;
    max-height:50px;
}
.myhr{
    margin:10px;
    border: 1px solid;
    color:white;
}

